

.contactDiv{
    width:100%;
    
    background-color: #e6c744;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    position: relative;
    padding:50px 0;
    
}

 .h1{
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    color:white;
    
}

.p{
    font-size:24px;
    color:white;
    margin:30px 0;
}

.contactDiv input{
    width: 500px;
    height:70px;
    border-radius: 10px;
    padding-left:20px;
    
    
}

.contactDiv input::placeholder{
    font-size: 20px;
    color:#7f7f7f;
}

.contactDiv button{
    width: 150px;
    height:50px;
    border-radius: 10px;
    border:2px solid black;
    background-color: white;
    color:black;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    left:760px;
    bottom:60px;
    transition: all 0.3s ease-in-out;

    &:hover{
        background-color: #e6c744;
    }
}


@media (max-width: 768px) {

    
    .contactDiv{
        padding:40px 20px;
        z-index: -1;
    }

    .h1{
        font-size: 2rem;
        font-weight: bold;
        text-align: center;
        color:white;
        
    }
    
    .p{
        font-size:22px;
        color:white;
        margin:20px 0;
    }


    .contactDiv input{
        width: 400px;
        height:50px;
        border-radius: 10px;
        padding-left:20px;
        
        
    }
    
    .contactDiv input::placeholder{
        font-size: 19px;
        color:#7f7f7f;
    }
    
    .contactDiv button{
        width: 130px;
        height:40px;
       
        font-size: 16px;
        
        left:430px;
        bottom:45px;
        
    }
    
    


}
@media (max-width: 390px) {

    
    .contactDiv{
        padding:40px 20px;
        z-index: -1;
    }

   
    
    .p{
        font-size:18px;
        color:white;
        margin:20px 0;
        text-align: center;
    }


    .contactDiv input{
        width: 350px;
        height:50px;
        border-radius: 10px;
        padding-left:20px;
        
        
    }
    
    .contactDiv input::placeholder{
        font-size: 19px;
        color:#7f7f7f;
    }
    
    .contactDiv button{
        width: 125px;
        height:35px;
       
        font-size: 16px;
        
        left:230px;
        bottom:48px;
        
    }
    
    


}
