

.contactDiv{
    width:1196px;
    height:26.9375rem;
    background-color: #e6c744;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    position: relative;
    margin-top:50px;
}

 .h1{
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    color:white;
    
}

.p{
    font-size:24px;
    color:white;
}

.contactDiv input{
    width: 500px;
    height:70px;
    border-radius: 10px;
    padding-left:20px;
    
    
}

.contactDiv input::placeholder{
    font-size: 20px;
    color:#7f7f7f;
}

.contactDiv button{
    width: 150px;
    height:50px;
    border-radius: 10px;
    border:2px solid black;
    background-color: white;
    color:black;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    left:670px;
    bottom:60px;
    transition: all 0.3s ease-in-out;

    &:hover{
        background-color: #e6c744;
    }
}


@media (max-width: 768px) {
    .contactDiv{
        padding:0 20px;
        z-index: -1;
    }


}
