.footer{
    width:74.75rem;
    height:20.937rem;
    background-color: black;
    display:flex;
    margin: auto;
}

.footer1{
    width:23rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.footer1 h1{
    font-size: 40px;
    font-weight: bold;
    color:white;
}

.footer p{
    color:white;
}

.icon{
    display:flex;
    gap:10px;
    margin-top:20px;
}

.footer2,.footer3,.footer4{
    width:17rem;
    margin:auto;
}

.footer2 ul li,.footer3 ul li,.footer4 ul li{
    
    margin:auto;
    color:white;
    font-size: 16px;
    margin-bottom: 10px;
    text-align: left;
    margin-left:40px;
}

.footer2 ul li:first-child, .footer3 ul li:first-child,.footer4 ul li:first-child{
    font-size:18;
    font-weight: bold;
}

.footer4{
    margin-top:80px;
}



.box{

    width:30px;
    height:30px;
    background-color: #e6c744;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    transition: transform 0.6s ease; 
    &:hover{
    transform: rotateY(180deg);
    }
}

.color{
    color:black;
    height: 40px;
}

@media (max-width: 768px) {
    .footer{
        flex-direction: column;
        flex-wrap: wrap;
        /* padding:0 0px; */
        padding-right:20px;
        
    }

     .footer2 ul li,.footer3 ul li,.footer4 ul li{
    
        margin:auto;
        color:white;
        font-size: 18px;
        margin-bottom: 10px;
        text-align: center;
        margin-left:0px;
    }

    .footer1{
        width:23rem;
        margin:auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }

    .footer4 ul {
        margin-bottom: 10px;
        padding-right: 0px;
        
        text-align: left;
        
    }
    .footer3 ul,.footer2 ul{
        margin-top: 10px;
    }
    
.footer4{
    margin-top:80px;
    margin-bottom: 0px;
   
}
    
}