

.shop{
    width:1196px;    
    margin-bottom: 120px;
    margin:auto;
    height:auto;
    margin-top: 63px;
    
}

.newArrival{
    width: 100%;
    height: 100px;
     display: flex;
    
     position: relative;
    
}

.newArrival h1{
    font-size: 2.5rem;
    font-weight: bolder;
}

.newArrival .feather{
    position: absolute;
    left:16.25rem;
    top:.625rem;
    z-index: -1;    
}
.newArrival .board{
    position: absolute;
    left:35rem;
         
}


.sale{

    margin-top: 100px;
    width: 100%;
    height: 685px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EBD96B;
}

.saleImageDiv{
    width:50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;  
}

.saleImageDiv .star1{
    position: absolute;
    top:80px;
    right:120px;
    
}
.saleImageDiv .star2{
    position: absolute;
    top:110px;
    left:90px;
    
}
.saleImageDiv .star3{
    position: absolute;
    bottom:100px;
    left:130px;
    
}
.saleImageDiv .star4{
    position: absolute;
    bottom:150px;
    right:160px;
    
}


.saleImage{
    
    height:500px;
    width:550px;
    
    
}

.saleTextDiv{
    width:50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}


 .text .let h1{
    font-size: 64px;
    
    color: #000000;
    font-weight: 700;
    margin-right:120px;
    transform: rotate(5deg);
}
 .text  h1{
    font-size: 64px;
    
    color: #000000;
    font-weight: 700;
    margin-right:200px;
}

.text .let{
    width:342px;
    height:105px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding-left:60px;  
    
    transform: rotate(-10deg);
    margin-left:40px;
    
}
.text .let1{
    transform: rotate(5deg);
}



.text .snow{
    margin-left: 60px;
}

.saleTextDiv .salePara{
    font-size: 16px;
    
    color: #000000;
    text-align: left;
    margin-top: 20px;
    margin-right:200px;
    
}

.saleTextDiv .salePara .para1{
    font-size: 16px;
    font-weight: bold;
    margin-bottom:30px;
}
.saleTextDiv .salePara .para2{
    font-size: 16px;
    font-weight: bold;
    margin-bottom:30px;
}

.saleTextDiv .btn{
    width: 120px;
    height:36px;
    font-size: 15px;
    font-weight: 500;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top:80px;
    margin-right:335px;
    border-radius: 10px;
    border:3px solid #000000;
    &:hover{
        background-color: black;
        color:#EBD96B;
        font-weight: 500;
    }
}


@media (max-width: 768px) {


    .board{
        position: relative;
        z-index: -100;
    }

    .embla{
        position: relative;
        z-index: -100;
    }
    .sale{
        flex-direction: column;
    }

    .sale .saleImageDiv{
        width:75%;
        height:50%;
        
    }

    .saleImage{
        
        width:400px;
        height:400px;
        margin-top: 40px;

    }

    .saleImageDiv .star1,.saleImageDiv .star2,.saleImageDiv .star3,.saleImageDiv .star4{
        display:none;
    }

    .sale .saleTextDiv{
        width:100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        gap: 0px;
        padding-left:50px;
        
    }

    

   
    
     .text .let h1{
        font-size: 50px;
        margin-right:0px;
        color: #000000;
        font-weight: 700;
       
        
    }
     .text  h1{
        font-size: 50px;
        color: #000000;
        font-weight: 700;
        margin-right:0px;
    }
    
    .text .let{
        width:250px;
        height:90px;
        padding-left:0px; 
        
    }

    
.saleTextDiv .salePara{
    font-size: 18px;
    
    text-align: center;
    margin-top: 20px;
    margin-right:0px;
   
    
}

.saleParaDiv{
    
    align-items: center;
    justify-content: center;
}

.saleTextDiv .salePara .para1,.saleTextDiv .salePara .para2{
    font-size: 20px;
}

.saleTextDiv .salePara p{
    font-size:19px;
}

.saleTextDiv .btn{
    width: 120px;
    height:36px;
    font-size: 15px;
    font-weight: 500;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top:50px;
    margin-right: 0px;
    margin-left:130px;
    
}



}